<%= simple_form_for message, html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
  <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false, input_html: { data: { action: "keypress->reset-form#submitOnEnter" } } %>
      <%= f.label :user_question, "Your question"%>
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
<% end %>
