// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My custom colors
$dark-black: #0F0F0F;
$light-black: rgba(27, 31, 35, 0.9);
$gray: #bbbcbd;
$dark-gray: #38434f;
$light-gray: #e9e9e9;
$white: #FFFFFF;
