// Specific CSS for your home-page
body {
  background: $dark-black;
  height: 100vh;
  width: 100vw;
}

.content {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
}

.background {
  width: 100vw;
  height: 100vh;
  background: $dark-black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;
.background span {
  font-size: 2rem;
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    $light-gray,
    $gray,
    $white,
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@media (max-width: 575px) {

  #home-block {
    padding: 2rem;
  }

  .grid-links {
    display: grid;
  }
  .content {
    padding: 1.5rem;
  }

  a {
    margin: 1rem;
  }
}
